logs
extract-*
common/*.bin
mydata/*.bin
nanddump.bin
nanddump1.bin
updflash.bin
updflash_xebuild.bin
kv.bin
KV.bin
keyvault.bin
KeyVault.bin
fcrt.bin
FCRT.bin
gxbuild
gxbuild.exe
cpukey.txt
CPUKey.txt
cpukey.bin
CPUKey.bin
